<h1>{{ title }}</h1>

<ul>
  {{#each users}}
    <li>
          {{ name }} / {{ StudentNumber }} / {{ Major }} / {{ grade }} / {{ admissionDate }} / {{ email }}
      </a>
    </li>
  {{/each}}
</ul>