<h1>{{title1}}</h1>
<div>
<table>
    <tr>
        <td>Airport_code</td>
        <td>Name</td>
        <td>City</td>
        <td>State</td>
        <td>Number_of_employee</td>
        {{!-- 열마다 위의 값을 넣어준다. --}}
    </tr>
    {{!-- 데이터가 입력될때마다 반복수행되는 부분 --}}
    {{#each AIRPORT}}
    <form method="post">
        <tr>
            <td>{{Airport_code}}</td>
            <td>{{Name}}</td>
            <td>{{City}}</td>
            <td>{{State}}</td>
            <td><input type="text" name="Number_of_employee" placeholder={{Number_of_employee}}></td>
            <td style="border: none; margin-left: 10px;">
                <button 
                 style="margin-left: 10px;" 
                 name='Airport_code' 
                 type="submit" 
                 value="{{Airport_code}}" 
                 formaction="/update"
                >
                수정
                </button>
            </td>
        </tr>
    </form>
 {{/each}}
</table>
</div>

<h1>{{title2}}</h1>
<div>
<table>
    <tr>
        <td>Airplane_id</td>
        <td>Total_number_of_seats</td>
        <td>Airplane_model</td>
    </tr>
    {{!-- 데이터가 입력될때마다 반복수행되는 부분 --}}
    {{#each AIRPLANE}}
    <form method="post">
        <tr>
            <td>{{Airplane_id}}</td>
            <td><input type="text" name="Total_number_of_seats" placeholder={{Total_number_of_seats}}></td>
            <td>{{Airplane_model}}</td>

            <td style="border: none; margin-left: 10px;">
                <button 
                 style="margin-left: 10px;" 
                 name='Airplane_id' 
                 type="submit" 
                 value="{{Airplane_id}}" 
                 formaction="/update"
                >
                수정
                </button>
            </td>
        </tr>
    </form>
 {{/each}}
</table>
</div>

<div>
<h1>{{title3}}</h1>
<table>
    <tr>
        <td>Flight_number</td>
        <td>Airline</td>
        <td>Weekdays</td>
        <td>Pilot</td>
        {{!-- 열마다 위의 값을 넣어준다. --}}
    </tr>
    {{!-- 데이터가 입력될때마다 반복수행되는 부분 --}}
    {{#each FLIGHT}}
    <form method="post">
        <tr>
            <td>{{Flight_number}}</td>
            <td>{{Airline}}</td>
            <td>{{Weekdays}}</td>
            <td><input type="text" name="Pilot" placeholder={{Pilot}}></td>
            <td style="border: none; margin-left: 10px;">
                <button 
                 style="margin-left: 10px;" 
                 name='Flight_number' 
                 type="submit" 
                 value="{{Flight_number}}" 
                 formaction="/update"
                >
                수정
                </button>
            </td>
        </tr>
    </form>
 {{/each}}
</table>
</div>
<div class="buttonContainer">
    <button onclick="location.href = 'http://localhost:3001/insert'">insert</button>
    <button onclick="location.href = 'http://localhost:3001/delete'">delete</button>
    <button onclick="location.href = 'http://localhost:3001/select'">select</button>
</div>